* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: navy;
}

.logo h1 {
    font-size: 36px;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 15px;
}

ul button {
    border: none;
    padding: 10px 7px;
    background-color: chocolate;
    color: #fff;
    margin-top: 12px;
    border-radius: 7px;
}

ul {
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 120px;
    justify-content: center;
}

.box {
    width: 320px;
    padding: 20px 15px;
    background-color: #fff;
    text-align: center;
    box-shadow: 8px 6px 14px -2px rgba(0, 0, 0, 0.47);
    margin-top: 300px;  
    border-radius: 12px ;
}


.box h1 {
    font-size: 30   px;
    margin-top: 12px;
    color: black;
}

.box p {
    font-size: 18px;
    margin-top: 12px;
    color: black;
}

.box button {
    border: none;
    padding: 10px 7px;
    background-color: chocolate;
    color: #fff;
    margin-top: 12px;
    border-radius: 7px;
}

.bg img {
    width: 100%;
    border-radius: 12px;
}